alembic==0.8.6
Flask==0.10.1
Flask-Excel==0.0.4
Flask-Login==0.3.2
Flask-Migrate==1.8.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
future==0.15.2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
psycopg2==2.6.1
pyexcel==0.2.1
pyexcel-io==0.1.0
pyexcel-webio==0.0.6
pyexcel-xls==0.1.0
python-editor==1.0
SQLAlchemy==1.0.12
texttable==0.8.4
Werkzeug==0.11.9
xlrd==0.9.4
xlwt-future==0.8.0
